{% extends "base.html" %}
{% load static %}



{% block content %}
  <div class="container">
  {% if user.avatar %}
  <img src="{{ user.avatar.url }}" alt="Avatar" width="120" height="120" class="img-profile">
  {% else %}
  <img src="{% static 'images/logo-default-profile-photo.png' %}" alt="Photo" width="120" height="120" class="img-profile"/>
  {% endif %}
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <h3>Information:</h3>
  <p>{{ user.bio }}</p>
  <ul>
  <li>
  <h3>Number of coins</h3>
    {% if user.coins.count >= 1 %}
  <p>{{ user.coins.count }}</p>
    {% else %}
    <p>No coins</p>
    {% endif %}
  </li>
  <li>
    <h3>Number of banknotes</h3>
    {% if user.banknotes.count >= 1 %}
    <p>{{ user.banknotes.count }}</p>
    {% else %}
    <p>No banknotes</p>
    {% endif %}
  </li>
  <li>
    <p>Rank: {{ user.level }}</p>
  </li>
  <li>Total items : {{ user.total_items }}</li>
  </ul>
  {% if request.user == user %}
  <a href="{% url 'items:my-collections' %}">My collections</a>
  {% else %}
  <a href="{% url 'items:my-collections' %}">View all {{ user.username }} collections</a>
  {% endif %}
     {% if request.user == user %}
<form method="post" action="{% url 'logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
</form>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}
