{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="profile-header">
      <div class="profile-info">
        {% if collector.avatar %}
          <img src="{{ collector.avatar.url }}" alt="Avatar" class="img-profile">
        {% else %}
          <img src="{% static 'images/logo-default-profile-photo.png' %}" alt="Photo" class="img-profile"/>
        {% endif %}

        <div class="profile-details">
          <p class="profile-bio">Rank: {{ collector.level }}</p>

          {% if edit_mode %}
            <form method="post">
              {% csrf_token %}
              <input type="text" name="first_name" value="{{ collector.first_name }}"/>
              <input type="text" name="last_name" value="{{ collector.last_name }}"/>
              <textarea name="bio">{{ collector.bio }}</textarea>

              <ul class="profile-stats-list">
                <li>
                  <p class="stats">
                    {% if collector.coins.count >= 1 %}
                      {{ collector.coins.count }} coins
                    {% else %}
                      No coins
                    {% endif %}
                  </p>
                </li>
                <li>
                  <p class="stats">
                    {% if collector.banknotes.count >= 1 %}
                      {{ collector.banknotes.count }} banknotes
                    {% else %}
                      No banknotes
                    {% endif %}
                  </p>
                </li>
                <li>
                  <p class="stats">Total items: {{ collector.total_items }}</p>
                </li>
              </ul>
              <button type="submit" class="profile-button-save">Save</button>
              <a href="{% url 'items:profile' %}" class="profile-cancel-button">Cancel</a>
            </form>
          {% else %}
            <div class="profile-edit-buttons">
              <h2 class="profile-name">{{ collector.first_name }} {{ collector.last_name }}</h2>
              {% if request.user == collector %}
                <a href="?edit=true" class="edit-profile-link">Edit profile</a>
              {% endif %}
            </div>
            <p class="profile-bio">{{ collector.bio }}</p>

            <ul class="profile-stats-list">
              <li>
                <p class="stats">
                  {% if collector.coins.count >= 1 %}
                    {{ collector.coins.count }} coins
                  {% else %}
                    No coins
                  {% endif %}
                </p>
              </li>
              <li>
                <p class="stats">
                  {% if collector.banknotes.count >= 1 %}
                    {{ collector.banknotes.count }} banknotes
                  {% else %}
                    No banknotes
                  {% endif %}
                </p>
              </li>
              <li>
                <p class="stats">Total items: {{ collector.total_items }}</p>
              </li>
            </ul>
          {% endif %}
          {% if request.user == collector %}
            <a href="{% url 'items:my-collections' %}" class="profile-links-items">My collections</a>
          {% else %}
            <a href="{% url 'items:my-collections' %}" class="profile-links-items">View all {{ collector.username }} collections</a>
          {% endif %}
        {% if request.user == collector %}
            <a href="{% url 'items:my-coins' %}" class="profile-links-items">My coins</a>
          {% else %}
            <a href="{% url 'items:my-coins' %}" class="profile-links-items">View all {{ collector.username }} coins</a>
          {% endif %}
        {% if request.user == collector %}
            <a href="{% url 'items:my-banknotes' %}" class="profile-links-items">My banknotes</a>
          {% else %}
            <a href="{% url 'items:my-banknotes' %}" class="profile-links-items">View all {{ collector.username }} banknotes</a>
          {% endif %}
        </div>
      </div>
      <div class="favorite-items">
        <h3 class="favourite-items-title">Favourite items</h3>
        <p>In development...</p>
      </div>
    </div>
<div class="profile-button-logout-div">
    {% if request.user == collector %}
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="button-profile-logout">Logout</button>
      </form>
    {% endif %}
</div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}