h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin-top: 0;
    margin-bottom: 0;
}

ul li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
    cursor: pointer;
}
.container {
  width: 1136px;
  padding-left: 33px;
  padding-right: 33px;
  margin: 0 auto;
}
/*Sidebar*/
.div-sidebar {
    display:flex;
    justify-content: flex-end;
}
.sidebar-list {
    display:flex;
    flex-direction: column;
}


/* Header */
.span-title {
    color: #004225;
}
.header-navigation,
.header-list {
    display:flex;
}
.header-list {
    gap:15px;
}
.header-navigation{
    justify-content: center;
}

.icon-authenticate,
.icon-not-authenticate {
    border: 1px solid #c1bdbd;
    border-radius: 10px;
}

.icon-authenticate {
    background-color: #0eb6df;
}

/*First section description*/
.section-description {
    background-color: black;
    background-image: url(/static/images/hero-banner.jpg);
    width:1200px;
    height: 800px;
    background-size: contain;
    border-radius: 20px;
    margin-bottom: 72px;
    background-repeat: no-repeat;
    color:#fff;
}