{% load static %}
<div class="sidebar-container">

  <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle">

  <label for="sidebar-toggle" class="hamburger-menu">
    <span class="hamburger-icon">
      <svg width="25" height="25" fill="black">
        <use href="{% static 'images/icons.svg' %}#icon-menu"></use>
      </svg>
    </span>
  </label>

  <div class="div-sidebar">
    <ul class="sidebar-list">

      {% if user.is_authenticated %}
        <li class="sidebar-list-item">
          <a href="{% url 'items:profile' %}">
            <svg width="24" height="20" fill="blue" class="icon-authenticate">
              <use href="{% static 'images/icons.svg' %}#icon-user"></use>
            </svg>
            My Profile
          </a>
        </li>
      {% else %}
        <li class="sidebar-list-item">
          <a href="{% url 'login' %}">
            <svg width="24" height="20" fill="black" class="icon-authenticate">
              <use href="{% static 'images/icons.svg' %}#icon-user"></use>
            </svg>
            Login</a>
        </li>
      {% endif %}
      <li class="sidebar-list-item">
        <a href="{% url 'items:my-collections' %}">My collections</a>
      </li>
      <li class="sidebar-list-item">
        <a href="{% url "items:my-coins" %}">My coins</a>
      </li>
      <li class="sidebar-list-item">
        <a href="{% url 'items:my-banknotes' %}">My banknotes</a>
      </li>
      <li class="sidebar-list-item">
        <a href="{% url 'items:public-collections' %}">All collections</a>
      </li>
      <li class="sidebar-list-item">
        <a href="#">View collectors</a>
      </li>
      <li class="sidebar-list-item">
        <a href="#">News</a>
      </li>
      <li class="sidebar-list-item">
        <a href="#">Guides & FAQs</a>
      </li>
    </ul>
  </div>
</div>