{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block title %}
    <title>Numismatics</title>
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block header %}
  <header>
    <div class="container">
    <nav class="header-navigation">
      <a href="#"><span class="span-title">Numi</span>Track</a>
      <ul class="header-list">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          {# Головна секція з описом функціоналу сторінки #}
          <a href="#about">About</a>
        </li>
        <li>
          {# Опис можливостей сервісу#}
          <a href="#features">Features</a>
        </li>
        <li>
          {#  статистика доданих монет {У колекції вже 235 монет із 47 країн} #}
          <a href="#stats">Stats</a>
        </li>
        <li>
          {#  Контакти та форма зворотного зв'язку #}
          <a href="#contact">Contacts</a>
        </li>
      </ul>
      {% block sidebar %}
        {% include "includes/sidebar.html" %}
      {% endblock %}
    </nav>
    </div>
  </header>
{% endblock %}
<main id="main-content">
  {% block content %}
  {% endblock %}
</main>
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
</body>
</html>
