{% extends "base.html" %}
{% block content %}
  <div class="container">
    <section id="about" class="hero-section">
      <div class="hero-section-text">
        <h1 class="hero-section-title">A site for those <br>Who create real digital treasures</h1>
        <h2 class="hero-section-description">Keep your own collection<br>View others'.<br>Join forces with numismatists.</h2>
        <a href="{% url 'items:create-collection' %}" class="hero-section-button">Create collection</a>
        <a href="{% url 'items:public-collections' %}" class="hero-section-button">View all collections</a>
      </div>
    </section>
    <section id="features" class="section-features">

      <h2>Create, browse, connect with like-minded people and store information about your treasures in one place.</h2>
      <h3>What you can do with NumiTrack?</h3>
      <ul>
        <li>
          <h3>Create</h3>
          <p>Create and store information about your own collections</p>
        </li>
        <li>
          <h3>Browse</h3>
          <p>Browse other members' collections, find rare items, and get inspired.</p>
        </li>
        <li>
          <h3>Wish list</h3>
          <p>Keep a wishlist so you don't forget what you're after.</p>
        </li>
        <li>
          <h3>News</h3>
          <p>Stay tuned for interesting news in the field of numismatics.</p>
        </li>
      </ul>
    </section>
    <section id="stats" class="section-stats">
      <h2>Statistics</h2>
      <ul>
        <li>
          <p>{{ num_coins }} coins and {{ num_banknotes }} banknotes in the catalog</p>
        </li>
        <li>
          <p>Diversity from {{ num_country }} countries and growing</p>
        </li>
        <li>
          <p>Built by {{ count_collectors }} collectors across {{ count_collections }} unique collections</p>
        </li>
      </ul>
      {% if not user.is_authenticated %}
        <h3>Become part of the community</h3>
        <a href="{% url 'login' %}">Join us</a>
      {% endif %}
    </section>
  </div>
{% endblock %}