{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    {% if collection.owner == user %}
      <ul>
        <li>
          <a href="{% url 'items:my-collections' %}">Back to my collections</a>
        </li>
        <li>
          <a href="{% url 'items:collection-edit' pk=collection.id %}">Update collection</a>
        </li>
        <li>
          <a href="{% url 'items:collection-delete' pk=collection.pk %}">
            Delete Collection
          </a>
        </li>
      </ul>
    {% else %}
      <a href="{% url 'items:public-collections' %}">Back to all collections</a>
    {% endif %}
    {% if collection.cover %}
      <img src="{{ collection.cover.url }}" alt="{{ collection.name }}" width="150" height="150"/>
    {% endif %}
    <h3>{{ collection.name }}</h3>
    <p>{{ collection.description }}</p>
    <h3>Coins</h3>
    {% if collection.owner == user %}
      <a href="{% url 'items:add-coin-to-collection' pk=collection.pk %}">Add coin to this collection</a>
    {% endif %}
    {% for coin in collection.coins.all %}
      <div class="card
        {% if coin.material|lower in 'silver срібло серебро' %}
          card-silver
        {% elif coin.material|lower in 'gold золото' %}
          card-gold
        {% elif coin.material|lower in 'bronze бронза' %}
          card-bronze
        {% endif %}
      ">
        <a href="{% url 'items:coin-detail' pk=coin.pk %}" class="">
          {% if coin.image %}
            <img src="{{ coin.image.url }}" alt="{{ coin.name }}" width="150" height="150"/>
          {% else %}
            <img src="{% static 'images/default-cover-collections.png' %}" alt="{{ coin.name }}" width="150" height="150"/>
          {% endif %}
          <h4>{{ coin.name }}</h4>
          <p>Year: {{ coin.year }}</p>
          <p>Country: {{ coin.country }}</p>
          <p>Material: {{ coin.material }}</p>
          <p>Tirage: {{ coin.tirage }}</p>
        </a>
      </div>
    {% empty %}
      <p>No coins</p>
    {% endfor %}
    <h3>Banknotes</h3>
  {% if collection.owner == user %}
  <a href="{% url 'items:add-banknote-to-collection' pk=collection.pk%}">Add banknote to collection</a>
  {% endif %}
    {% for banknote in collection.banknotes.all %}
      <a href="{% url 'items:banknote-detail' pk=banknote.pk %}">
        {% if banknote.image %}
          <img src="{{ banknote.image.url }}" alt="{{ banknote.name }}" width="100" height="100"/>
        {% else %}
          <img src="{% static 'images/default-cover-collections.png' %}" alt="No image" width="100" height="100"/>
        {% endif %}

        <p>{{ banknote.name }}</p>
        <p>Year: {{ banknote.year }}</p>
        <p>Country: {{ banknote.country }}</p>
        <p>Tirage: {{ banknote.tirage }}</p>
      </a>
    {% empty %}
      <p>No banknotes</p>
    {% endfor %}
  </div>
{% endblock %}