{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>{{ user.username }}' Collections</h2>
    <a href="{% url "items:create-collection" %}">Create new collection</a>
  {% for collection in collections %}
    <a href="{{ collection.get_absolute_url }}" class="collection-card">
  {% if collection.cover %}
  <img src="{{ collection.cover.url }}" alt="{{ collection.name }}" width="150" height="150"/>
       {% else %}
  <img src="{% static 'images/default-cover-collections.png' %}" alt="{{ collection.name }}" width="150" height="150"/>
  {% endif %}
  <h4>{{ collection.name }}</h4>
  <p>{{ collection.description }}</p>
    </a>
  {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}