{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="all-items-content">
    <div class="top-section-items">
      <h2 class="item-title">All collections</h2>
    </div>

    <div class="main-content-area">
      <div class="side-panel">
        <div class="form-search-items">
          <p class="filter-items-title">Filter</p>
          <div class="filter-box">
            <form method="get" class="search-form-overlay">
              <label for="id_name"></label>
              <input type="text" name="name" class="form-coin-filter-input" placeholder="Name" id="id_name">
              <label for="id_description"></label>
              <input type="text" name="description" class="form-coin-filter-input" placeholder="Description"
                     id="id_description">
              <button type="submit" class="filter-button">Filter</button>
              <a href="{% url 'items:public-collections' %}" class="reset-button">Clear</a>
            </form>
          </div>
        </div>
      </div>

      <div class="container-items">
        {% if public_collections %}

          {% for collection in public_collections %}
            <div class="card collection-card">
              <a href="{{ collection.get_absolute_url }}" class="card-link">
                <div class="card-inner-scale-wrapper">
                  {% if collection.cover %}
                    <img src="{{ collection.cover.url }}" alt="{{ collection.name }}"
                         class="card-image"/>
                  {% else %}
                    <img src="{% static 'images/default-cover-collections.png' %}" alt="{{ collection.name }}"
                         class="card-image"/>
                  {% endif %}
                  <div class="card-content-wrapper">
                    <h4 class="card-item-name collection-name">{{ collection.name }}</h4>
                    <div class="item-description-card">
                      <p>Owner: {{ collection.owner }}</p>
                      <p>Coins: {{ collection.coins.count }}</p>
                      <p>Banknotes: {{ collection.banknotes.count }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No collections</p>
        {% endif %}
          </div>
    </div>
  </div>
{% endblock %}

