{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
  <h2>All collections</h2>

   <div class="card-wrapper">
  {% for collection in public_collections %}
    <div class="card">
    <a href="{% url 'items:collection-detail' pk=collection.pk%}">
      {% if collection.cover %}
        <img src="{{ collection.cover.url }}" alt="{{ collection.name }}"/>
      {% else %}
        <img src="{% static 'images/default-cover-collections.png' %}" alt="{{ collection.name }}"/>
      {% endif %}
    <h3>Owner:{{ collection.owner.username }}</h3>
      <h3>{{ collection.name }}</h3>
      <p>{{ collection.description }}</p>
    </a>
    </div>
  {% empty %}
    <p>No collections 🤷</p>
  {% endfor %}
   </div>
  </div>
{% endblock %}
