{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container container-item-detail">

    <div class="item-detail-header">
      <a href="{% url 'items:my-banknotes' %}" class="item-detail-back">
        <svg width="24" height="24">
          <use href="/static/images/icons.svg#icon-back"></use>
        </svg>
        Back to my banknotes
      </a>
      <h2 class="item-detail-name">{{ banknote.name }}</h2>
    </div>

    <div class="all-items-item-detail-content">
      <div class="item-image-block">

        {% if banknote.image %}
          <img src="{{ banknote.image.url }}" alt="{{ banknote.name }}" width="400" height="300">
        {% else %}
          <img src="https://res.cloudinary.com/ded0xzsg6/image/upload/v1752484502/empty-photo_dh8lsx.jpg"
               alt="{{ banknote.name }}"
               class="card-image" loading="lazy"/>
        {% endif %}

        {% if banknote.owner == user %}
          <a href="{% url 'items:banknote-delete' pk=banknote.pk %}" class="delete-button">
            Delete Banknote
          </a>
          <a href="{% url 'items:banknote-edit' pk=banknote.id %}" class="update-button">Update banknote</a>
        {% endif %}
      </div>

      <div class="item-details-block">
        <h4 class="item-detail-description-title">Description</h4>
        {% if banknote.description %}
          <p class="item-detail-description-subtitle">{{ banknote.description }}</p>
        {% else %}
          <p class="item-detail-description-subtitle">No description yet</p>
        {% endif %}

        <ul class="item-detail-list">
          <li class="item-detail-list-item">
            <p>Country: {{ banknote.country }} </p>
          </li>
          <li class="item-detail-list-item">
            <p>Year: {{ banknote.year }}</p>
          </li>
          <li class="item-detail-list-item">
            <p>Denomination: {{ banknote.denomination }}</p>
          </li>
          <li class="item-detail-list-item">
            <p>Tirage: {{ banknote.tirage }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}